@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        padding: 0;
        margin: 0;
        width: 100vw;
        font-family: 'Quicksand', sans-serif;
        box-sizing: border-box;
    }
}
@layer base {
    * {
        box-sizing: border-box;
    }
}